.section-demo {
  margin-bottom: -32px;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background span {
  position: absolute;
  width: 22vmin;
  height: 22vmin;
  animation: move;
  animation-duration: 12;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border-radius: 22vmin;
  opacity: 0.3;
  backface-visibility: hidden;
}


.background span:nth-child(0) {
  top: 9%;
  left: 12%;
  transform-origin: -4vw -15vh;
  animation-duration: 25s;
  animation-delay: -304s;
  color: $brand-100;
  box-shadow: -44vmin 0 6.320616546894681vmin currentColor;
}
.background span:nth-child(1) {
  top: 92%;
  left: 88%;
  transform-origin: -21vw -24vh;
  animation-duration: 10s;
  animation-delay: -69s;
  color: $brand-300;
  box-shadow: 44vmin 0 5.782140761319202vmin currentColor;
}
.background span:nth-child(2) {
  top: 16%;
  left: 77%;
  transform-origin: -5vw -3vh;
  animation-duration: 370s;
  animation-delay: -111s;
  color: $brand-100;
  box-shadow: 44vmin 0 6.0997769344938275vmin currentColor;
}
.background span:nth-child(3) {
  top: 71%;
  left: 23%;
  transform-origin: -24vw -24vh;
  animation-duration: 189s;
  animation-delay: -100s;
  color: $brand-100;
  box-shadow: 44vmin 0 6.104687167245666vmin currentColor;
}
.background span:nth-child(4) {
  top: 61%;
  left: 96%;
  transform-origin: -4vw -13vh;
  animation-duration: 56s;
  animation-delay: -84s;
  color: $brand-100;
  box-shadow: 44vmin 0 6.384615864519102vmin currentColor;
}
.background span:nth-child(5) {
  top: 99%;
  left: 3%;
  transform-origin: 21vw -22vh;
  animation-duration: 130s;
  animation-delay: -166s;
  color: $brand-500;
  box-shadow: 44vmin 0 5.530502901825101vmin currentColor;
}
.background span:nth-child(6) {
  top: 42%;
  left: 52%;
  transform-origin: 15vw 20vh;
  animation-duration: 86s;
  animation-delay: -315s;
  color: $brand-300;
  box-shadow: 44vmin 0 6.091703504265955vmin currentColor;
}
.background span:nth-child(7) {
  top: 57%;
  left: 12%;
  transform-origin: -15vw -19vh;
  animation-duration: 365s;
  animation-delay: -11s;
  color: $brand-300;
  box-shadow: 44vmin 0 5.792619165247461vmin currentColor;
}
.background span:nth-child(8) {
  top: 28%;
  left: 38%;
  transform-origin: 7vw 14vh;
  animation-duration: 224s;
  animation-delay: -345s;
  color: $brand-300;
  box-shadow: 44vmin 0 5.861539509197105vmin currentColor;
}
