@mixin headline-bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0.04rem;
}

@mixin headline2-bold {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
}

@mixin headline2-semibold {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.03rem;
}

@mixin title-bold {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

@mixin title-semibold {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin title-mobile {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin body2 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0.02rem;
}

@mixin body-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

@mixin body-semibold {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin body-medium {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
}

@mixin body-regular {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
}

@mixin footnote-bold {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}

@mixin footnote-semibold {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

@mixin footnote-medium {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
@mixin footnote-regular {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

@mixin caption-bold {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
}

@mixin caption-semibold {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}

@mixin caption-medium {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}

@mixin caption-regular {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

@mixin button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

@mixin button-small {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}
