@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/custom-bootstrap";
@import "vars";
@import "mixins";
@import "fonts";

body {
  font-family: "Manrope", sans-serif;
}

.container-fluid {
  max-width: 1312px;
  padding: 0 16px;
}

section {
  padding: 40px 0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }
}

@import "components/buttons";

@import "sections/cover";
@import "sections/demoChannel";
