<section class="overflow-hidden">
  <div class="container-fluid">
    <div class="display-4 text-gray-900 lh-base fw-bold text-center mb-4">
      {{demoChannelTitle}}
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-xl btn-gray-800" href="https://t.me/ArtGallaryDemo" target="_blank">
        {{demoChanelButton}}
      </a>
    </div>
  </div>
</section>