<section class="section-demo position-relative overflow-hidden bg-gray-900 p-0">
  <div class="background bg-gray-900">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="section-demo-wrapper p-10">
    <div class="container-fluid z-1 position-relative">
      <div class="display-4 text-white lh-base fw-bold text-center mb-4">
        {{demoChannelTitle}}
      </div>
      <div class="d-flex justify-content-center">
        <a class="btn btn-xl btn-brand" href="https://t.me/ArtGalleryDemo" target="_blank">
          <i class="bi bi-rocket-takeoff"></i>
          <span>
            {{demoChanelButton}}
          </span>
        </a>
      </div>
    </div>
  </div>
</section>