<section class="overflow-hidden bg-gray-100">
  <div class="container-fluid">
    <div class="display-4 text-gray-900 lh-base fw-bold text-center mb-4">
      {{howItWorksTitle}}
    </div>

  </div>
</section>