<section class="overflow-hidden">
  <div class="container-fluid">
    <div class="display-4 text-gray-900 lh-base fw-bold text-center mb-3 mb-lg-8">
      {{howToWithdrawMoneyTitle}}
    </div>
    <div class="h4 text-gray-500 text-center">
      Моментальный вывод на карты российских или иностранных банков.
      Моментальный вывод на карты российских или иностранных банков. 
      Моментальный вывод на карты российских или иностранных банков
    </div>
  </div>
</section>