<section class="overflow-hidden">
  <div class="container-fluid">
    <div class="display-4 text-gray-900 lh-base fw-bold text-center mb-3 mb-lg-8">
      Где разместить QR-код
    </div>

    <div class="row align-tems-center gap-4 gap-lg-0 flex-lg-row-reverse">
      <div class="col-12 col-lg-6 d-flex align-items-center">
        <div class="d-grid gap-3">
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            Наклейки с QR-кодом на столах
          </div>
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            На бейдже
          </div>
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            Показывать на телефоне
          </div>
          <div class="h4 text-gray-900 d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2 text-brand"></i>
            На чеках
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
        <div class="w-75 ratio ratio-1x1 bg-gray-100 rounded-5 overflow-hidden shadow-lg">
          <div>
            <img class="img-fluid" 
              src="../assets/images/sticker.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>