<section class="overflow-hidden">
  <div class="container-fluid">
    <div class="display-4 text-gray-900 lh-base fw-bold text-center mb-3 mb-lg-8">
      Как и куда вывести WebMoney
    </div>
    <div class="col-12 col-lg-6 offset-lg-3 d-flex align-items-center">
      <div class="d-grid gap-3">
        <div class="h4 text-gray-900 d-flex align-items-center">
          <i class="bi bi-check-circle-fill me-2 text-brand"></i>
          На карты российских или иностранных банков
        </div>
        <div class="h4 text-gray-900 d-flex align-items-center">
          <i class="bi bi-check-circle-fill me-2 text-brand"></i>
          На криптокошелёк (USDT, BTC и др)
        </div>
        <div class="h4 text-gray-900 d-flex align-items-center">
          <i class="bi bi-check-circle-fill me-2 text-brand"></i>
          Оплатить множество популярных услуг
        </div>
        <div class="h4 text-gray-900 d-flex align-items-center">
          <i class="bi bi-check-circle-fill me-2 text-brand"></i>
          Перевести с кошелька на кошелёк другому пользователю WebMoney
        </div>
      </div>
    </div>
  </div>
</section>