<section class="overflow-hidden">
  <div class="container-fluid">
    <div class="display-4 text-gray-900 lh-base fw-bold text-center mb-3 mb-lg-4">
      {{LinkCustomizationTitle}}
    </div>
    <div class="h4 text-gray-500 text-center mb-3 mb-lg-8">
      Гибкая настройка персональной страницы оплаты
    </div>
    <div class="row align-tems-center gap-4 gap-lg-0 flex-lg-row-reverse">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="shadow-lg bg-gray-100 rounded-5 overflow-hidden">
            <video class="img-fluid" 
              src="../assets/video/donate-customization.mp4" 
              loop="true" 
              autoplay="true" 
              preload="true" 
              playsinline="true" 
              muted="true"></video>
        </div>
      </div>
    </div>
  </div>
</section>